<section class="login-background">


  <form class="login-form" action=" <%=session_url%>" method="post">
    <h2 class="login-logo">Plugged <strong>in</strong></h2>
    <h3>A LinkedIn clone for robots</h3>

    <%= auth_token %>
    <input id="user-email" type="text" name="user[email]" value="" placeholder="Email Address">

    <input id="user-password" type="password" name="user[password]" placeholder="Password">

    <button class="blue-button sign-in">Sign In</button>
    <ul class="sign-in-options group">
      <li>Not a user yet? <a href=" <%= new_user_url %>">Sign Up!</a></li>
      <li>Or <a href="/auth/twitter">Sign in with Twitter</a></li>
    </ul>
    <div class="new-user">
      <strong>Employer?</strong>
    <button class="green-button demo">Sign in as a demo user</button>
    </div>
  </form>


</section>


<script>
  $((function () {
    $(".demo").on("click", function (event) {
      event.preventDefault();
      $("#user-email").val("joe");
      $("#user-password").val("joejoe");
      $(".login-form").submit();
    })
  })())
</script>
