
<label for="">To: </label>
<select class="" name="receiver_id">
  <option value="1">Johnny</option>
  <option value="2">Bobby</option>
  <option value="3">Billy</option>
</select>

<br>
<label for="">Subject:</label>
<input type="text" name="subject" value="">
<br>

<label for="">Body:</label>
<textarea name="body" rows="8" cols="40"></textarea>

<br>

<button name="button">Send</button>
