
<label for="">To: </label>
<select class="user-select" name="receiver_id">
</select>

<br>
<label for="">Subject:</label>
<input type="text" name="subject" value="">
<br>

<label for="">Body:</label>
<textarea name="body" rows="8" cols="40"></textarea>

<br>

<ul class="bottom-buttons group">
  <li><button class="submit blue-button">Send</button></li>
  <li><a href="#inbox/messages/received" class="cancel grey-button">Cancel</a></li>
</ul>
