
<label for="">To: </label>
<select class="user-select" name="receiver_id">
</select>

<br>
<label for="">Subject:</label>
<input type="text" name="subject" value="">
<br>

<label for="">Body:</label>
<textarea name="body" rows="8" cols="40"></textarea>

<br>

<button name="button">Send</button>
