<h3>Are you sure?</h3>

<ul class="group">
 <li><a class="yes" href="javascript:void(0)"><button class="blue-button">Yes</button></a></li>
 <li><a class="no grey-button" href="javascript:void(0)">No</a></li>

</ul>
