

<% if (!cu_connection) { %>
  <button class="request-connection">Connect</button>

<% } else if (cu_connection.escape("status") === "approved") { %>
  <button class="message-user">Message</button>

<% } else if (parseInt(cu_connection.get("receiver_id")) === user.id) { %>
  <button class="delete-this">Already Requested</button>

<% } else if (cu_connection.escape("status") === "pending") { %>
  <button class="approve-connection">Approve</button>
  <button class="deny-connection">Deny</button>

<% } else { %>
  <button class="approve-connection">Connect</button>
<% } %>
