
<% if (cu_connection.isNew()) { %>
  <% console.log("got here2") %>
  <button class="request-connection">Connect</button>

<% } else if (cu_connection.escape("status") === "approved") { %>
  <button class="message-user">Send a message</button>

<% } else if (parseInt(cu_connection.get("receiver_id")) === user.id) { %>
  <button class="delete-this disabled" disabled>Connection Sent</button>

<% } else if (cu_connection.escape("status") === "pending") { %>
  <a href="javascript:void(0)"><button class="approve-connection">Approve</button>
  <button class="deny-connection">Deny</button></a>

<% } else { %>
  <% console.log("got here") %>
  <button class="approve-connection">Connect</button>
<% } %>
