
<img class="thumb-picture" src="<%= user.escape("thumb_picture_url") %>" alt="Profile Picture" />
<span class="full-name">
  <a href="#users/<%= user.id %>"><%= user.escape("full_name") %></a>
</span>
<p class="connections-title"><%= user.escape("tagline") %></p>

<section class="button-holder">

</section>
