<h2><strong>Search</strong></h2>

<ul class="sidebar">
  <% if (!found) { %>
    <span>No results found. Showing all users</span>
  <%  } else { %>
    <span><strong><%= totalCount %></strong>  result(s) for <strong><%= query %></strong></span>
  <% } %>
</ul>

<section class="search-content">
  <h3>Search Results</h3>
  <ul class="search-results">
  </ul>
</section>
