<h2><strong>Search</strong></h2>
<section class="user-search">

  <form class="user-search-form">
    <input class="search-input" type="text" placeholder="Search for people..." autofocus="true">
    <button class="submit" >Search!</button>
  </form>

  <ul class="search-results">

  </ul>
</section>
