<h2><strong>Search</strong></h2>

<ul class="search-sidebar sidebar">
  <% if (!found) { %>
    <% if (query !== "") { %>
      <span>No results found for '<%= query %>'. <br><br> Please try a new search.</span>
    <%  } else { %>
      <span>Welcome to the search page! <br><br> Use the search bar to find users.</span>
    <% }%>
  <%  } else { %>
    <span><strong><%= totalCount %></strong>  result(s) for <strong><%= query %></strong></span>
  <% } %>
</ul>

<section class="search-content">
  <h3>Search Results</h3>
  <ul class="search-results">
  </ul>
</section>
