<h2><strong>Search</strong></h2>

<ul class="sidebar">
  <span>NUM search results for <%= query %></span>
</ul>

<section class="search-content">
  <h3>Search Results</h3>
  <ul class="search-results">
  </ul>
</section>
