
<article class="user-card">
</article>

<article class="user-sidebar">
  <h3>People Also Viewed</h3>
</article>

<article class="user-experiences">
  <h2>Background</h2>
</article>

<article class="user-connections" id="user-connections">
  <h2>Connections</h2>
</article>
