<section class="login-background">


  <form class="login-form" action="<%=users_url%>" method="post">
    <h2 class="login-logo">Plugged <strong>in</strong></h2>
    <h3>A LinkedIn clone for robots</h3>

    <%= auth_token %>
    <input id="user-fname" type="text" name="user[fname]" value="" placeholder="First Name">
    <input id="user-lname" type="text" name="user[lname]" value="" placeholder="Last Name">
    <input id="user-email" type="text" name="user[email]" value="" placeholder="Email Address">

    <input id="user-password" type="password" name="user[password]" placeholder="Password">

    <button class="blue-button sign-in">Sign Up</button>
    Already have an account? <a href=" <%= new_session_url %>">Sign In!</a>

  </form>


</section>
