
<article class="inbox">

  <h3>Inbox</h3>

  <aside class="sidebar">

    <h4><a href="#inbox/messages/new">New Message!</a></h4>

    <h4>Messages</h4>
    <a class="sent-messages" href="#inbox/messages/sent">Sent Messages</a>
    <a class="received-messages" href="#inbox/messages/received">Received Messages</a>

    <h4>Connections</h4>
    <a class="sent-connections" href="#inbox/connections/sent">Sent Connections</a>
    <a class="received-connections" href="#inbox/connections/received">Received Connections</a>
  </aside>

  <ul class="messages">
    messages go here!!
  </ul>

</article>


<article class="user-sidebar">
  Sidebar
</article>
