
<article class="inbox">

  <h3>Inbox</h3>

  <aside class="sidebar">

    <h4>Messages</h4>
    <a class="sent-messages" href="javascript:void(0)">Sent Messages</a>
    <a class="received-messages" href="javascript:void(0)">Received Messages</a>

    <h4>Connections</h4>
    <a class="sent-connections" href="javascript:void(0)">Sent Connections</a>
    <a class="received-connections" href="javascript:void(0)">Received Connections</a>
  </aside>

</article>


<article class="user-sidebar">
  Sidebar
</article>
