
<article class="inbox">

  <h2><strong>Inbox</strong></h2>

  <ul class="sidebar">

    <li><a href="#inbox/messages/new"><button class="blue-button">New Message!</button></a></li>

    <li>
      <h4>Messages</h4>
      <a class="sent-messages" href="#inbox/messages/sent">Sent</a>
      <a class="received-messages" href="#inbox/messages/received">Received</a>
    </li>

    <li>
      <h4>Connections</h4>
      <a class="sent-connections" href="#inbox/connections/sent">Sent</a>
      <a class="received-connections" href="#inbox/connections/received">Received</a>
    </li>
  </ul>

  <ul class="messages">
    messages go here!!
  </ul>

</article>
