
<section class="trigger">
  <span>
    <a href="javascript:void(0)">Add a Job!</a>
  </span>
</section>

<div class="hidden-input">
  <h4>Add a Job!</h4>

  <%= JST["jobs/form-partial"]({job: experience}) %>
</div>
