<h2><strong>Connections (<%= user.escape("num_connections") %>)</strong></h2>

<ul class="connected-users-list group">

</ul>

<nav class="connections-nav group">
  <% if (show_prev) { %>
    <a class="prev-page" href="javascript:void(0)">Prev Page</a>
  <% } %>

  <% if (show_next) { %>
    <a class="next-page" href="javascript:void(0)">Next Page</a>
  <% } %>
</nav>
