<a class="all-connections" href="javascript:void(0)">All (#number)</a>
<a class="shared-connections" href="javascript:void(0)">Shared (#number)</a>
<a class="new-connections" href="javascript:void(0)">New (#number)</a>
Search <input class="connections-search" type="text" value="">

<ul class="connected-users-list">

</ul>
<a class="prev-page" href="javascript:void(0)">Prev Page</a>
<a class="next-page" href="javascript:void(0)">Next Page</a>
