<section class="message-link group">
<a href="#users/<%= connection.user().id %>" ><img src=" <%= connection.user().escape("thumb_picture_url") %> " alt="" />
</a>

<ul>
  <li>
    <a href="#users/<%= connection.user().id %>" ><strong><%= connection.user().escape("full_name") %></strong></a>
  </li>
  <li class="button-holder blue">
  </li>
</ul>
</section>
