<section class="message-link group">
<img src=" <%= connection.user().escape("thumb_picture_url") %> " alt="" />

<ul>
  <li>
    <%= connection.user().escape("full_name") %>
  </li>
  <li class="button-holder blue">
  </li>
</ul>
</section>
