

<header>
  <h2>Extinct IN</h2>
  <nav>

  </nav>
</header>

<main>
  <section id="content">

  </section>

  <hr>

  <a href="#users/<%=current_user.try(:id) || "" %>">My Profile</a>
  <a href="#users/1">User1</a>
  <a href="#users/2">User2</a>
  <a href="#">Index</a>
</main>

<%= render partial: "/shared/logged_in", locals: {current_user: current_user } %>

<div id="modal"></div>

<%= date_select("experience", "start_date",
      {discard_day: true, discard_year: true, prompt: {month: "Choose..."}}) %>
<input type="number"
        id="experience_start_date_1i"
        name="experience[start_date(1i)]"
        value=""
        placeholder="Year">

<script charset="utf-8">
  $(document).ready(function(){
    ExtinctIn.currentUserId = <%= current_user.try(:id) || "null" %>;
    ExtinctIn.$modalEl = $("#modal");
    ExtinctIn.initialize({$rootEl: $("#content")});
  });
</script>
