

<header>
  <h2>Extinct IN</h2>
  <nav>

  </nav>
</header>

<main>
  <section id="content">

  </section>

  <a href="#users/1">User1</a><br>
  <a href="#users/2">User2</a><br>
  <a href="#">Index</a>
</main>

<%= render partial: "/shared/logged_in", locals: {current_user: current_user } %>

<script charset="utf-8">
  $(document).ready(function(){
    ExtinctIn.initialize({$rootEl: $("#content")});
  });
</script>
