
<section class="trigger">
  <span class="edit">
  <div class="new-experience-text">
    <a href="javascript:void(0)">Add a School!</a>
  </div>
</span>
</section>

<%= JST["schools/form-partial"]({school: experience}) %>
