
<section class="trigger">
  <span>
    <a href="javascript:void(0)">Add a School!</a>
  </span>
</section>

<div class="hidden-input">
  <h4>Add a School!</h4>

  <%= JST["schools/form-partial"]({school: experience}) %>
</div>
