/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*RESET*/
h1, h2, h3, h4, h5, table, th, tr, td, body,
label, button, form, ul, input, a,
p, header, main, strong, head {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
}

/*CLEARFIX*/

.group:after {
  content: "";
  clear: both;
  display: block;
}

/*ALL PAGES*/

body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: rgb(0, 111, 166);
}

/*h3 {
  font-size: 24px;
  padding-left: 10px;
}*/

/*NAVIGATION BAR*/
header {
  background: black;
  height: 40px;
  color: white;
}

header .logout {
  float: right;
}

header > h2 {
  float: left;
}

/*MAIN*/
main {
  background-image: url(https://static.licdn.com/scds/common/u/images/themes/katy/textures/texture_grain_200x200_v2.png);
}

#content {
  width: 975px;
  margin: 0px auto;
  color: #333;
}

/*USER SHOW :: GENERAL*/
article {
  background: #fff;
  box-shadow: 1px 1px 1px grey;
}

.user-experiences,
.user-connections,
.user-card {
  width: 606px;
  padding: 20px;
  float: left;
  margin-top: 10px;
}

.user-connections {
  margin-bottom: 100px;
}

.user-card, .user-sidebar {
  margin-top: 30px;
}

.user-sidebar {
  float: right;
  width: 278px;
  height: 500px;
  padding: 20px;
}

h2 {
  display:block;
  margin: -20px 0 20px -20px;
  padding: 5px 0px;
}

h2 > strong {
  padding: 7px 20px;
  background: #333;
  color: #fff;
  font-size: 13px;
  line-height: 17px;
  font-weight: bold;
}


/*USER SHOW :: CARD*/

.profile-picture {
  margin-left: -20px;
  float: left;
  width: 200px;
  margin-right: 20px;
  background: #ccc;
}

.profile-info {
  position: relative;
  width: 406px;
  height: 200px;
  float: right;
}

.user-card span.full-name {
  display: block;
  font-size: 26px;
  font-weight: 700;
}

.user-card p.title {
  font-size: 16px;
  line-height: 20px;
  padding: 1px 0px;
}

.user-card  span {
  font-size: 13px;
}
span.location {
  color: rgb(102, 105, 106)
}

span.industry {
  color: rgb(102, 105, 106)
}

span.industry:before {
  content: " | "
}

.profile-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.profile-info button {
  float: left;
}

.profile-info button,
.experience button {
  color: #fff;
  background-color: rgb(40, 123, 188);
  background-image: -webkit-linear-gradient(top, rgb(40,123,188) 0%,
    rgb(35,99,154) 100%);
  font-size: 13px;
  font-weight: bold;
  height: 31px;
  line-height: 29px;
  padding: 0 13px;
  border: 1px solid rgb(27, 84, 128);
  border-radius: 3px;
}

.profile-info button:hover {
  background: rgb(35,99,154);
}

.connections {
  float: right;
}

.connections strong {
  font-size: 18px;
  display: block;
  text-align: right;
}

.user-overview {
  font-size: 12px;
  text-align: left;
  margin-top: 10px;
  line-height: 17px;
}

.user-overview th {
  color: rgb(153, 153, 153);
  font-size: 11px;
  padding: 2px 20px 0 0;
}


/*USER SHOW :: EXPERIENCES*/

.field-text:first-child {
  font-size: 18px;
  line-height: 35px;
}

.field-text:nth-child(2) {
  color: #444;
  font-size: 16px;
  line-height: 25px;
}

.field-text {
  display: block;
  line-height: 25px;
  font-size: 14px;
}

/*.local-text, .date-text {
  color: #444;
  font-size: 14px;
  line-height: 30px;
}*/

.local-text:before, .major:before {
  content: " | "
}

.degree {
  color: #444;
  font-size: 16px;
  line-height: 25px;
}

a.edit-form {
  display: block;
  font-size: 14px;
  height: 0px;
}

/*USER SHOW :: EXPERIENCES 2*/

.user-experiences h3 {
  font-size: 16px;
  font-weight: 400px;
  display: block;
  margin-bottom: 25px;
}

.user-experiences img {
  display: inline;
  vertical-align: middle;
  padding-right: 10px;
}

.experience-index-item {
  margin-top: 20px;
}

.experience-index-item h4 {
  font-size: 16px;
  font-weight: bold;
}

.experience-index-item h5 {
  font-size: 14px;
  margin: 3px 0 7px 0;
}

.experience-index-item .date-location {
  font-size: 12px;
  color: rgb(102, 105, 106);
  margin-top: 3px;
}

.experience-index-item p {
  margin-top: 10px;
  font-size: 13px;
}

/*USER SHOW :: CONNECTIONS*/

.connected-users-list {
  margin: 0 -20px;
}

.connected-users-list > li {
  float: left;
  width: 318px;
  height: 62px;
  overflow: hidden;
  padding-top: 10px;
  font-size: 13px;
}

.connections-title {
  font-size: 12px;
  display: inline-block;
}

.connected-users-list button {
  font-weight: bold;
  font-size: 12px;
}

.connected-users-list .full-name {
  display: block;
}

.all-connections {
  display: block;
  text-align: right;
  color: black;
  font-size: 12px;
  font-weight: bold;
}

.thumb-picture {
  margin: 2px 10px 0 20px;
}

.thumb-picture {
  background: #ddd;
}

.connections-nav {
  margin: 20px -20px -20px -20px;
  padding: 10px;
  display: block;
  background: rgb(234, 234, 234);
}

.connections-nav .next-page {
  float: right;
}

.connections-nav .prev-page {
  float: left;
}


/*SEARCH RESULTS*/

.thumb-picture {
  width: 60px;
  float: left;
  margin-right: 10px;
}

.search-results {
  width: 564px;
}

.search-results > .user-index-item {
  height: 68px;
  padding-top: 12px;
  padding-bottom: 8px;
  border-bottom: 1px solid grey;
}

/*.user-index-item > .full-name > a {
  font-size: 16px;
  font-weight: 400;
  color: rgb(0, 111, 166);
}*/

/*SIDEBAR*/
.user-sidebar {
  text-align: center;
}


/*INBOX*/

.inbox {
  margin-top: 30px;
  width: 646px;
  float: left;
}

.inbox > .sidebar {
  float: left;
  background: lightgrey;
  border: 1px solid grey;
  width: 154px;
  height: 100%;
}

.inbox > .messages {
  float: right;
  width: 450px;
}

/*TOGGLE*/
.toggled > .trigger, .hidden-input {
  display: none;
}

.toggled > .hidden-input, .trigger {
  display: inline-block;
}

.trigger span:hover {
  background: lightgrey;
  cursor: pointer;
}

.trigger .connections:hover {
  background: white;
  cursor: default;
}

/*FORMS*/
input {
  border: 1px solid grey;
  background: white;
}

.required:after {
  content: " *";
  color: #900;
}

.experience {
  background: #f4f4f4;
  border: 1px solid #e9e9e9;
  border-width: 1px 0px;
  margin: 30px -20px;
  padding: 20px;
  width: 100%;
  font-size: 12px;
}

.experience input {
  font-size: 12px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.experience > input {
  display: block;
  width: 596px;
}

.experience label {
  font-size: 13px;
  font-weight: bold;
  display: block;
}

.experience ul > li {
  display: inline;
}

.experience .check-present-container {
  display: block;
  margin-bottom: 20px;
}

.experience .check-present {
  display: inline;
}

.experience > textarea {
  display: block;
  border: 1px solid #ccc;
  width: 596px;
  height: 100px;
  font-size: 12px;
  padding: 5px;
  border-radius: 2px;
}

.field-of-study {
  margin-top: 15px;
}

/*MODAL*/
#modal {
  display: none;
}

#modal.toggled {
  display: block;
  position: absolute;
  background: rgba(0,0,0,.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#modal > section {
  display: block;
  position: absolute;
  background: white;
  width: 400px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
