/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require_tree ../../../vendor/assets/stylesheets/.

 */

/*RESET*/
h1, h2, h3, h4, h5, table, th, tr, td, body,
label, button, form, ul, input, a,
p, header, main, strong, head {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
}

ul {
  list-style: none;
}

/*CLEARFIX*/

.group:after {
  content: "";
  clear: both;
  display: block;
}

/*ALL PAGES*/

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #111;
  background-image: image-url("grid.png");
}

a {
  color: rgb(0, 111, 166);
}

button {
  cursor: pointer;
}

button.disabled {
  cursor: default;
}

/*UNIVERSAL STYLES*/

.thumb-picture {
  margin: 2px 10px 0 0px;
  background: #ddd;
  border-radius: 3px;
  width: 60px;
  height: 60px;
  float: left;
}

/*LOGIN*/

.login-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-image: image-url("nyc-skyline.jpg");
}

.login-form {
  font-size: 14px;
  text-align: right;
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, .95);
  width: 375px;
  height: 370px;
  padding: 30px 40px;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%) translateY(-50%);
  transition: height 1s;
}

.login-logo {
  font-size: 56px;
  font-weight: bold;
  letter-spacing: -2px;
  display: block;
  margin: 0px auto;
  width: 300px;
  text-align: center;
}

.login-logo > strong {
  font-size: 56px;
  letter-spacing: -1px;
  font-weight: bold;
  padding: 4px 4px 0 4px;
  border-radius: 5px;
  background: rgb(0, 111, 166);
}

.login-form > h3 {
  font-size: 18px;
  padding: 10px 0;
  width: 375px;
  text-align: center;
  margin: 0px auto 20px 0;
}

.login-form > input {
  width: 355px;
  margin: 0px 0 10px 0;
}

.sign-in {
  width: 375px;
  margin-bottom: 10px;
}

.new-user {
  text-align: left;
  border-radius: 5px;
  width: 355px;
  background: #eee;
  border: 1px solid #ccc;
  padding: 10px;
  display: block;
  margin: 20px 0 30px 0;
}

.new-user strong {
  font-weight: bold;
  font-size: 18px;
}

.login-form #user-fname {
  width: 120px;
  float: left;
}

.login-form #user-lname {
  width: 200px;
}

.green-button {
  color: #fff;
  background-color: #0c0;
  font-size: 22px;
  font-weight: bold;
  height: 51px;
  line-height: 29px;
  padding: 0 13px;
  border: #ccc;
  border-radius: 3px;
  display: block;
  margin: 5px auto 0px auto;
  width: 355px;
}

.sign-in-options li:first-child {
  float: left
}

.sign-in-options li:last-child {
  float: right
}

/*NAVIGATION BAR*/
.global-header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.top-header {
  position: relative;
  background-color: #3f3f3f;
  background-image: -webkit-linear-gradient(top, #696969 0%, #3f3f3f 100%);
  height: 38px;
  padding-top: 4px;
  color: white;
}

.top-header-nav {
  vertical-align: middle;
}

.top-header-nav > a {
  font-size: 24px;
  color: white;
  display: inline;
  float: left;
}

.top-header-nav > .user-info-header {
  font-size: 16px;
  float: right;
  vertical-align: middle;
}

.user-info-header > span {
  vertical-align: middle;
}

.user-info-header > img {
  vertical-align: middle;
  display: inline-block;
}

.top-header .logo {
  font-size: 30px;
  font-weight: bold;
  padding: 4px 4px 0 4px;
  border-radius: 5px;
  background: rgb(0, 111, 166);
}

.header-search {
  float: left;
  margin-top: 2px;
}

.header-search > input {
  margin-left: 170px;
  width: 300px;
}

.responsive-header {
  position: relative;
  height: 29px;
  background-color: #1a1a1a;
  background-image: -webkit-linear-gradient(top, #1a1a1a 0%, #303030 100%);
  z-index: -1;
  top: 0px;
  transition: top .3s;
}

.toggled > .responsive-header {
  top: -30px;
}

.responsive-header-nav a,
.responsive-header-nav button {
  font-size: 13px;
  color: rgb(215, 215, 215);
  display: block;
  padding: 6px 0px 4px 0;
  -webkit-appearance: none;
}

.responsive-header-nav a {
  padding: 9px 40px 7px 0;
}

.responsive-header-nav > ul {
  float: left;
}

.responsive-list > li {
  float: left;
}

header > nav {
  width: 975px;
  margin: auto;
}

.logout {
  float: right;
}

.logout > form {
  display: inline;
}

.user-info-header {
  float: right;
  vertical-align: middle;
  font-size: 13px;
}

.top-header img {
  width: 35px;
  height: 35px;
  border-radius: 3px;
  margin-left: 10px;
  background: #ddd;
  border-radius: 3px;
}

header > h2 {
  float: left;
}

/*MAIN*/

main {
  padding-bottom: 20px;
  padding-top: 90px;
}

footer.page-footer {
  padding-top: 30px;
  width: 975px;
  margin: auto;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}

#content {
  position: relative;
  width: 975px;
  margin: 0px auto;
  color: #333;
}

/*USER SHOW :: GENERAL*/
article {
  background: #fff;
  box-shadow: 1px 1px 1px grey;
  border-radius: 2px;
}

.user-experiences,
.user-card,
.user-connections {
  width: 606px;
  padding: 20px;
  float: left;
  margin-top: 10px;
}

.user-connections {
  float: right;
  position: relative;
  width: 278px;
  height: 490px;
  padding: 20px;
}

.user-connections.absolute {
  position: absolute;
  right: 0px;
}

h2 {
  display:block;
  margin: -20px 0 20px -20px;
  padding: 5px 0px;
}

h2 > strong {
  border-radius: 2px;
  padding: 7px 20px;
  background: #333;
  color: #fff;
  font-size: 13px;
  line-height: 17px;
  font-weight: bold;
}


/*USER SHOW :: CARD*/

.profile-picture {
  margin-left: -20px;
  float: left;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  background: #ccc;
}

.profile-info {
  position: relative;
  width: 406px;
  height: 200px;
  float: right;
}

.user-card span.full-name {
  display: block;
  font-size: 26px;
  font-weight: 700;
}

.user-card p.title {
  font-size: 16px;
  line-height: 20px;
  padding: 1px 0px;
}

.user-card  span {
  font-size: 13px;
}
span.location {
  color: rgb(102, 105, 106)
}

span.industry {
  color: rgb(102, 105, 106)
}

span.industry:before {
  content: " | "
}

.profile-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.profile-info button {
  float: left;
}

.profile-info button,
.experience button,
.blue-button ,
.button-holder.blue button {
  color: #fff;
  background-color: rgb(40, 123, 188);
  background-image: -webkit-linear-gradient(top, rgb(40,123,188) 0%,
    rgb(35,99,154) 100%);
  font-size: 13px;
  font-weight: bold;
  height: 31px;
  line-height: 29px;
  padding: 0 13px;
  border: 1px solid rgb(27, 84, 128);
  border-radius: 3px;
}

.grey-button {
  display: inline-block;
  color: rgb(102, 102, 102);
  background-color: #e8e8e8;
  background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #e3e3e3 13%, #d7d7d7 32%, #b9b9b9 71%, #a9a9a9 100%);
  font-size: 13px;
  font-weight: bold;
  height: 29px;
  line-height: 29px;
  padding: 0 12px;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 3px;
}

.profile-info button:hover {
  background: rgb(35,99,154);
}

.connections {
  float: right;
}

.connections strong {
  font-size: 18px;
  display: block;
  text-align: right;
}

.user-overview {
  font-size: 12px;
  text-align: left;
  margin-top: 10px;
  line-height: 17px;
}

.user-overview th {
  color: rgb(153, 153, 153);
  font-size: 11px;
  padding: 2px 20px 0 0;
}


/*USER SHOW :: EXPERIENCES*/

.field-text:first-child {
  font-size: 18px;
  line-height: 35px;
}

.field-text:nth-child(2) {
  color: #444;
  font-size: 16px;
  line-height: 25px;
}

.field-text {
  display: block;
  line-height: 25px;
  font-size: 14px;
}

.local-text:before, .major:before {
  content: " | "
}

.degree {
  color: #444;
  font-size: 16px;
  line-height: 25px;
}

span.edit > a {
  display: block;
  font-size: 14px;
  height: 0px;
  padding-top: 3px;
}

span.edit {
  padding: 5px 0;
}

/*USER SHOW :: EXPERIENCES 2*/

.user-experiences h3 {
  font-size: 16px;
  font-weight: 400px;
  display: block;
  margin-bottom: 25px;
}

.user-experiences img {
  display: inline;
  vertical-align: middle;
  padding-right: 10px;
}

.experience-index-item {
  margin-top: 20px;
}

.experience-index-item h4 {
  font-size: 16px;
  font-weight: bold;
}

.experience-index-item h5 {
  font-size: 14px;
  margin: 3px 0 7px 0;
}

.experience-index-item .date-location {
  font-size: 12px;
  color: rgb(102, 105, 106);
  margin-top: 3px;
}

.experience-index-item p {
  margin-top: 10px;
  font-size: 13px;
}

/*USER SHOW :: CONNECTIONS*/

.connected-users-list {
  margin: 0 -20px;
}

.connected-users-list > li {
  float: left;
  width: 278px;
  height: 62px;
  overflow: hidden;
  padding: 10px 20px 0 20px;
  font-size: 13px;
}

.connected-users-list > li:first-child {
  padding-top: 0px;
}

.connections-title {
  font-size: 12px;
  width: 200px;
  max-height: 30px;
  display: inline-block;
}

.connected-users-list button {
  font-weight: bold;
  font-size: 12px;
}

.connected-users-list .full-name {
  display: block;
}

.all-connections {
  display: block;
  text-align: right;
  color: #111;
  font-size: 12px;
  font-weight: bold;
}

.connections-nav {
  padding: 10px;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  display: block;
  background: rgb(234, 234, 234);
}

.connections-nav .next-page {
  float: right;
}

.connections-nav .prev-page {
  float: left;
}


/*SEARCH RESULTS*/



.search-results {
  width: 564px;
}

.search-results > .user-index-item {
  height: 68px;
  padding: 12px 0 8px 20px;
  border-bottom: 1px solid grey;
}

/*SIDEBAR*/
.user-sidebar {
  text-align: center;
}

/*SEARCH*/

.user-search {
  margin-top: 10px;
  width: 935px;
  padding: 20px;
}


/*INBOX*/

.inbox {
  margin-top: 10px;
  width: 935px;
  float: left;
  padding: 20px;
}

.inbox > .sidebar,
.user-search > .sidebar {
  float: left;
  width: 200px;
  padding: 0 0px 0 0;
  height: 300px;
}

.inbox > .sidebar > li {
  padding-bottom: 30px;
  display: block;
  margin: auto;
  text-align: center;
}

.inbox > .inbox-content,
.search-content {
  float: right;
  padding: 20px 20px 20px 20px;
  margin-top: -20px;
  margin-left: 20px;
  border-radius: 5px;
  width: 673px;
  background: #f1f1f1;
  border: 1px solid #ccc;
}

.inbox .messages,
.search-results {
  width: 675px;
  height: 440px;
  overflow: scroll;
  background: white;
  /*border: 1px solid #ccc;*/
}

.inbox > .inbox-content h3,
.search-content h3 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
}

.inbox .message-link {
  display: block;
  color: #666;
  font-size: 13px;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
}

.message-link img {
  float: left;
  margin-right: 20px;
  background: #ddd;
  border-radius: 3px;
  margin-top: 5px;
  width: 58px;
  height: 58px;
}

.message-link > ul {
  float: left;
  padding: 10px;
}

.message-link > ul > li {
  padding-bottom: 2px;
}

.message-link strong {
  font-weight: bold;
  color: #333;
  font-size: 16px;
  margin-top: -5px;
  padding-bottom: 5px;
  display: inline-block;
}

.message-link .subject {
  font-size: 13px;
  font-weight: bold;
}

a.message-link:hover {
  background: lightgrey;
}

.message-index-item {
  color: #ccc;
  position: relative;
}

.message-index-item .date {
  position: absolute;
  top: 10px;
  right: 20px;
}

/*MESSAGE SHOW*/

.message-show {
  padding: 20px;
}

.message-info {
  font-size: 12px;
  color: #666;
}

.message-info .subject {
  font-size: 18px;
  font-weight: bold;
  display: block;
  color: #111;
  padding-bottom: 10px;
}

.message-info a {
  display: block;
  font-size: 14px;
  padding-bottom: 5px;
}

.message-show .message-body {
  font-size: 16px;
  width: 300px;
  display: block;
  padding: 20px;
  white-space: pre-line;
}


/*TOGGLE*/
.toggled > .trigger, .hidden-input {
  display: none;
}

.toggled > .hidden-input, .trigger {
  display: block;
  /*display: inline-block;*/
}

.trigger span:hover {
  background: lightgrey;
  cursor: pointer;
}

.trigger .connections:hover {
  background: white;
  cursor: default;
}

/*FORMS*/
input {
  border: 1px solid grey;
  background: white;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  font-size: 13px;
  color: #111;
}

#picture-preview {
  max-width: 200px;
  max-height: 200px;
}

.errors {
  color: #900;
  font-size: 14px;
  margin-bottom: 20px;
}

.errors > .error {
  display: block;
}

.bottom-buttons > li {
  float: left;
  display: block;
  padding-right: 10px;
  vertical-align: bottom;
  height: 30px;
}

.remove-link {
  padding-top: 10px;
  display: block;
}

.required:after {
  content: " *";
  color: #900;
}

.experience {
  padding: 0 20px;
  width: 606px;
  font-size: 12px;
}

.user-card > .toggled {
  padding: 20px;
  margin: -20px;
}

.experience input,
.user-card > .toggled input {
  font-size: 12px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.experience > input,
.user-card > .toggled input {
  display: block;
  width: 596px;
}

.experience label,
.user-card > .toggled label {
  font-size: 13px;
  font-weight: bold;
  display: block;
}

.experience ul > li {
  display: inline-block;
}

.experience .check-present-container {
  display: block;
  margin-bottom: 20px;
}

.experience .check-present {
  display: inline;
}

.experience > textarea {
  display: block;
  border: 1px solid #ccc;
  width: 596px;
  height: 100px;
  font-size: 12px;
  padding: 5px;
  border-radius: 2px;
}

.field-of-study {
  margin-top: 15px;
}

/*ADD EXPERIENCES FORM*/

.new-experience-form,
.toggled.experience-index-item,
.user-card > .toggled {
  background: #f4f4f4;
  border: 1px solid #e9e9e9;
  border-width: 1px 0px;
}

.new-experience-form,
.toggled.experience-index-item {
  margin: 30px -20px -8px -20px;
  padding: 20px 0px;
}

.experiences-list:last-child .new-experience-form {
  margin: 30px -20px -20px -20px;
}

.new-experience-form .trigger {
  font-size: 14px;
}

.new-experience-text {
  text-align: center;
}

/*MESSAGES FORM*/

.message-form {
  padding: 20px;
}

.message-form > select {
  font-size: 20px;
  margin-bottom: 10px;
}

.message-form > label {
  font-size: 16px;
  font-weight: bold;
  display: block;
  padding: 5px;
}

.message-form > input {
  display: block;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 5px;
  width: 300px;
  border-radius: 2px;
  margin-bottom: 10px;
}

.message-form > textarea {
  display: block;
  border: 1px solid #ccc;
  width: 300px;
  height: 180px;
  font-size: 14px;
  padding: 5px;
  border-radius: 2px;
  margin-bottom: 10px;
}


/*MODAL*/
#modal {
  display: none;
}

#modal.toggled {
  display: block;
  position: fixed;
  background: rgba(0,0,0,.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#modal > section {
  display: block;
  position: absolute;
  background: white;
  width: 180px;
  height: 100px;
  padding: 15px 10px;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%) translateY(-50%);
}

#modal h3 {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  margin: auto;
}

#modal ul {
  margin: auto;
}

#modal li {
  padding-left: 23px;
  float: left;
}

.spinner {
  display: none;
  margin: auto;
}

.spinner.toggled {
  display: block;
}

.spinner-container {
  margin: -15px auto 15px auto;
  height: 0px;
  transition: height 1s;
}
