/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*RESET*/
h1, h2, h3, body, label, form, input, a, header, main, head {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
}

/*CLEARFIX*/

.group:after {
  content: "";
  clear: both;
  display: block;
}

/*ALL PAGES*/

body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: blue;
}

/*NAVIGATION BAR*/
header {
  background: black;
  height: 40px;
  color: white;
}

header .logout {
  float: right;
}

header > h2 {
  float: left;
}

/*MAIN*/
main {
  background-image: url(https://static.licdn.com/scds/common/u/images/themes/katy/textures/texture_grain_200x200_v2.png);
}

#content {
  width: 975px;
  margin: 0px auto;
  color: #333;
}

/*USER SHOW HIGH-LEVEL*/
.user-show > article, .user-search {
  background: #fff;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px grey;
}

.user-experiences,
.user-connections,
.user-card {
  width: 604px;
  padding: 20px;
  float: left;
  margin-top: 10px;
}

.user-card, .user-sidebar {
  margin-top: 30px;
}

.user-sidebar {
  float: right;
  width: 278px;
  height: 500px;
  padding: 20px;
}

.user-show > article > h2 {
  display: inline-block;
  margin-top: -20px;
  margin-left: -20px;
  padding: 7px 20px;
  background: #333;
  color: #fff;
  font-size: 13px;
  line-height: 17px;
  font-weight: bold;

}


/*USER CARD*/

.user-card section.trigger {
  width: 935px;
}
.profile-picture {
  margin-left: -20px;
  float: left;
  width: 200px;
  padding-right: 20px;
}

span.full-name {
  display: block;
  font-size: 30px;
  font-weight: 700;
}


/*USER EXPERIENCES*/

.user-experiences h3 {
  font-size: 24px;
  padding-left: 10px;
}


.field-text:first-child {
  font-size: 18px;
  line-height: 35px;
}

.field-text:nth-child(2) {
  color: #444;
  font-size: 16px;
  line-height: 25px;
}

.field-text {
  display: block;
  line-height: 25px;
  font-size: 14px;
}

.local-text, .date-text {
  color: #444;
  font-size: 14px;
  line-height: 30px;
}

.local-text:before, .major:before {
  content: " | "
}

.major, .degree {
  color: #444;
  font-size: 16px;
  line-height: 25px;
}

a.edit-form {
  display: block;
  font-size: 14px;
  height: 0px;
}

/*SEARCH RESULTS*/

.thumb-picture {
  width: 60px;
  float: left;
  margin-right: 10px;
}

.search-results {
  width: 564px;
}

.search-results > .user-index-item {
  height: 68px;
  padding-top: 12px;
  padding-bottom: 8px;
  border-bottom: 1px solid grey;
}

.user-index-item > .full-name > a {
  font-size: 16px;
  font-weight: 400;
  color: rgb(0, 111, 166);
}

/*SIDEBAR*/
.user-sidebar {
  text-align: center;
}

/*TOGGLE*/
.toggled > .trigger, .hidden-input {
  display: none;
}

.toggled > .hidden-input, .trigger {
  display: inline-block;
}

.trigger > span:hover, .trigger > a:hover {
  background: lightgrey;
  cursor: pointer;
}

/*FORMS*/
input {
  border: 1px solid grey;
  background: white;
}

.required:after {
  content: " *";
  color: red;
}

/*MODAL*/
#modal {
  display: none;
}

#modal.toggled {
  display: block;
  position: absolute;
  background: rgba(0,0,0,.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#modal > section {
  display: block;
  position: absolute;
  background: white;
  width: 400px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
