/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*RESET*/
h1, h2, h3, body, label, form, input, a, section, header {
  background: transparent;
  border: none;
  margin: none;
  padding: none;
  font-size: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
}

/*CLEARFIX*/

.group:after {
  content: "";
  clear: both;
  display: block;
}

.toggled > .trigger, .hidden-input {
  display: none;
}

.toggled > .hidden-input, .trigger {
  display: inline-block;
}

#modal {
  display: none;
}

#modal.toggled {
  display: block;
  position: absolute;
  background: rgba(0,0,0,.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#modal > section {
  display: block;
  position: absolute;
  background: white;
  width: 400px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

input {
  border: 1px solid grey;
}

.required:after {
  content: " *";
  color: red;
}
